.nav-button {

border-color: #fff;
}
.pricing-card{
width: 30%;
}
/* .sub{
margin-top: -100px;
} */
.button1{
width: 150px;
height: 40px;
color:#f53838;
background-color:#fff;
font-weight: bold;
/* box-shadow: 0 0 0 3px; */
/* transition: all 1000ms;
border-radius: 10px; */
border: 1px solid #f53838;
/* -webkit-transition: all 1000ms;
-moz-transition: all 1000ms;
-ms-transition: all 1000ms;
-o-transition: all 1000ms;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px; */
}
.button1:hover{
color:#fff;
background-color: #f53838;
border-color: #f53838;

}
.button2{
width: 200px;
height: 50px;
color:#fff;
background-color:#f53838;
font-weight: bold;
/* box-shadow: 0 0 0 3px; */
transition: all 1000ms;
border-radius: 10px;
border: 1px solid #f53838;
-webkit-transition: all 1000ms;
-moz-transition: all 1000ms;
-ms-transition: all 1000ms;
-o-transition: all 1000ms;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
box-shadow: 0px 30px 54px -5px rgb(245 56 56 / 35%);
}
.button2:hover{
color:#f53838;
background-color: #fff;
border: 1px solid #fff;

}
.list img{
background-color:#f53838;
border: none;
}
.testimon{
border: 1px solid #dfd0d0;
}
.testimon:hover{
border: 1px solid #f53838;
}

.nav1 a:hover{
background-color: #fff;
color:grey;
}
/* .conten{
border: 1px solid grey;
border-bottom: none;
border-top: none;
} */
